pandas==2.2.0
plotly==5.22.0
snowflake_connector_python==3.10.0
snowflake_ml_python==1.5.0
snowflake_snowpark_python==1.16.0
streamlit==1.34.0
transformers==4.40.2

--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.3.0+cpu
